.card-body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 4);
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.btn-primary {
    margin-left: 175px;
    width: 100%;
    padding: 0.75rem;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-radius: 4px;
    border-color: #1f1f1f;
    cursor: pointer;
    font-size: 10pt;
    box-shadow: 0 0 10px rgba(0, 0, 0, 4);
}

.btn-primary:hover {
    color: grey;
}